*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    max-width: 767px;
    margin-left: auto;
    margin-right: auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/********************************* HEADER STYLE *********************************/
header{
    text-align: center;
    background-color: #0D2860;
    padding:30px;
    color: white;
    width: 100%;
}
b{
    width: 700;
}
h2{
    font-weight: 400;
}
h3{
    font-weight: 300;
}
.banner-box{
    padding-bottom: 20px;
}
.banner{
    font-size:30px;
    display: inline;
    line-height: 25px;
    font-weight: 700;
    padding: 0px 30px;
    border: 3px solid #fff;
    border-radius: 40px;
}


/********************************* MAIN STYLE *********************************/
.entry-container{
    position: relative;
    display: flex;
    flex-direction: 'row';
    margin: 30px 30px 30px 0;
}
.entry-emoji{
    padding:20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.entry-emoji img{
    height: 30px;
    width: 30px;
}

.entry-description{
    display: flex;
    flex-direction: row;
    border: 3px solid #F1B7CD;
    padding:30px 12px 18px 18px;
    border-radius: 34px;
    color:#0290A1
}
.entry-box{
    flex: 7;
}
.entry-text{
    padding-right: 16px;
    
}
.date-time{
    padding: 30px 0px;
}
.entry-date{
    padding-right: 30px;
}

.children-box{
    display: flex;
    flex-direction: row;
}
.child{
    padding:6px;
    border:2px solid black;
    border-radius: 30px;
    display: flex;
    flex-direction: row ;
    align-items: center;
    margin-right: 16px;
    justify-content: space-between;
}
.child .name{
    padding-right: 18px;
    padding-bottom: 3px;
    flex:3;
    font-weight: 700;
    color:#0A285F
}
.child-img{
    flex:2  
}
.child-img img{
    height: 25px;   
}

.entry-image-box{
    flex: 4;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    text-align: center;
}
.entry-color{
    width: 30px;
    height: 16px;
    align-self: flex-end;
    background-color: #F1B7CD;
}
.entry-image{
    padding:20px;
    border-radius: 10px;
}
.page-box{
    display: flex;
    justify-content: flex-end;
    margin: 30px 40px;
    font-weight: 500;
    color:#505C6D
}

@media screen and (max-width:540px){
  
    .entry-container{
    font-size: 12px;   
    }
    .banner-box{
    padding-bottom: 16px;
    }
    .banner{
    font-size: 18px;
    display: inline;
    font-weight: 700;
    padding: 5px 20px;
    }
    h2,h3{
        font-size: 15px;
    }
    .date-time{
    padding: 20px 0px;
}
    .entry-image{
        padding:20px 0px; 
    }
    .entry-box{
    flex: 7;
}
    .entry-image-box{
        flex: 3;
    }
   
    .child-img img{
    height: 20px;   
}
.child{
    padding:4px;
}
}
@media screen and (max-width:500px){
  .entry-container{
      margin: 14px 14px 14px 0;
  }
  .entry-description{
   
    padding:20px 6px 10px 10px;
   
}
    .banner{
    font-size:25px;
    line-height: 20px;
}
    h2,h3{
        font-size: 14px;
    }
    .entry-image{
        padding:18px 0; 
    }
 .entry-color{
    width: 24px;
    height: 18px;
}

    .date-time{
    padding: 16px 0;
}
}
@media screen and (max-width:400px){
    
    .entry-image img{
        min-width: 60px;
    }
    .child{
    padding:3px;
    font-size: 14px;
}
}
   
    


/********************************* FOOTER STYLE *********************************/

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:30px;
}
