<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Welcome Screen</title>
    <link href="../static/css/main.css" rel="stylesheet" />
</head>
<body>
    <header>
     <div class="banner-box">
         <h1 class="banner">Journal of Children</h1>
     </div>
     <h2 th:text="${'Parent : ' + fname + ' ' + lname}"></h2>
     <h3><b>Period</b> : 1st Jan, 2021 – 30th April, 2021</h3>
     <h3><b>Children</b> : Tom, Kevin, Andrew</h3>
    </header>
    <main>
        <div class="entry-container">
            <div class="entry-emoji">
                <img src="https://teamteach.s3.ap-south-1.amazonaws.com/images/emoji.png" alt=""/>
            </div>
            <div class="entry-description">
                <div class="entry-box">
                    <div class="entry-text">
                        <p>
                            It was Kevin’s b’day. We invited all kids
                            from the neighbourhood. Also present 
                            were Kevin’s friends from school, as well 
                            as close friends of Tom and Andrew. After 
                            the party was over, all three children were 
                            really enjoying with each other.
                        </p>
                    </div>
                    <div class="date-time">
                        <time class="entry-date">12 July, 2021</time>
                        <time>12:00pm</time>
                    </div>
                    <div class="children-box">
                        <div class="child">
                            <span class="name">Kevin</span>
                            <span class="child-img">
                                <img height="100%" src="https://teamteach.s3.ap-south-1.amazonaws.com/images/child.png" alt=""/>
                            </span>
                        </div>
                        <div class="child">
                            <span class="name">Marcus</span>
                            <span class="child-img">
                                <img  height="100%" src="https://teamteach.s3.ap-south-1.amazonaws.com/images/child.png" alt=""/>
                            </span>
                        </div>
                    </div>

                </div>
                <div class="entry-image-box">
                    <div class="entry-color"></div>
                    <div class="entry-image">
                        <img width="100%" src="https://teamteach.s3.ap-south-1.amazonaws.com/images/entryImg.png" alt=""/>
                    </div>
                </div>
            </div>
            
        </div>


          <div class="entry-container">
            <div class="entry-emoji">
                <img src="https://teamteach.s3.ap-south-1.amazonaws.com/images/emoji.png" alt=""/>
            </div>
            <div class="entry-description">
                <div class="entry-box">
                    <div class="entry-text">
                        <p>
                            It was Kevin’s b’day. We invited all kids
                            from the neighbourhood. Also present 
                            were Kevin’s friends from school, as well 
                            as close friends of Tom and Andrew. After 
                            the party was over, all three children were 
                            really enjoying with each other.
                        </p>
                    </div>
                    <div class="date-time">
                        <time class="entry-date">12 July, 2021</time>
                        <time>12:00pm</time>
                    </div>
                    <div class="children-box">
                        <div class="child">
                            <span class="name">Kevin</span>
                            <span class="child-img">
                                <img height="100%" src="https://teamteach.s3.ap-south-1.amazonaws.com/images/child.png" alt=""/>
                            </span>
                        </div>
                        <div class="child">
                            <span class="name">Marcus</span>
                            <span class="child-img">
                                <img  height="100%" src="https://teamteach.s3.ap-south-1.amazonaws.com/images/child.png" alt=""/>
                            </span>
                        </div>
                    </div>

                </div>
                <div class="entry-image-box">
                    <div class="entry-color"></div>
                    <div class="entry-image">
                        <img width="100%" src="https://teamteach.s3.ap-south-1.amazonaws.com/images/entryImg.png" alt=""/>
                    </div>
                </div>
            </div>
            
        </div>

          <div class="entry-container">
            <div class="entry-emoji">
                <img src="https://teamteach.s3.ap-south-1.amazonaws.com/images/emoji.png" alt=""/>
            </div>
            <div class="entry-description">
                <div class="entry-box">
                    <div class="entry-text">
                        <p>
                            It was Kevin’s b’day. We invited all kids
                            from the neighbourhood. Also present 
                            were Kevin’s friends from school, as well 
                            as close friends of Tom and Andrew. After 
                            the party was over, all three children were 
                            really enjoying with each other.
                        </p>
                    </div>
                    <div class="date-time">
                        <time class="entry-date">12 July, 2021</time>
                        <time>12:00pm</time>
                    </div>
                    <div class="children-box">
                        <div class="child">
                            <span class="name">Kevin</span>
                            <span class="child-img">
                                <img height="100%" src="https://teamteach.s3.ap-south-1.amazonaws.com/images/child.png" alt=""/>
                            </span>
                        </div>
                        <div class="child">
                            <span class="name">Marcus</span>
                            <span class="child-img">
                                <img  height="100%" src="https://teamteach.s3.ap-south-1.amazonaws.com/images/child.png" alt=""/>
                            </span>
                        </div>
                    </div>

                </div>
                <div class="entry-image-box">
                    <div class="entry-color"></div>
                    <div class="entry-image">
                        <img width="100%" src="https://teamteach.s3.ap-south-1.amazonaws.com/images/entryImg.png" alt=""/>
                    </div>
                </div>
            </div>
            
        </div>

        <div class="page-box">
            <span>page 1 of 1</span>
        </div>
    </main>
    <footer>
        <img width="10%" style="margin-bottom: 1.2em;" src="https://teamteach.s3.ap-south-1.amazonaws.com/images/logo.png" alt=""/>
        <img width="40%" src="https://teamteach.s3.ap-south-1.amazonaws.com/images/poweredBy.png" alt=""/>
    </footer>
    
</body>
</html>